
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div style="border-top:solid 1px #9f9696;margin-left:200px;color:red"><h2>Đặt hàng thành công</h2> </div>
<div style="margin-left:200px;"> Quý khách hãy đợi để nhân viên của cửa hàng xử lý và gửi thông tin vào e-mail hoặc liên lạc cho quý khách
    chậm nhất là sau 2 ngày <br/>
    Mọi thắc mắ xin quý khách hãy gửi về địa chỉ e-mail :Quan96kun@gmail.com  Hotline :0168454008<br/>
    hoặc đến cửa hàng đại lý gần nhất để giải quyết<br/>
    Chân thành cảm ơn đã sử dụng dịch vụ của chúng tôi ...!</div>

