
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div style="clear:both;"></div>
<div>
    <h1 style="color:red"> Giới thiệu về sách</h1>
    Trang web bán sách trực tuyến sẽ giúp các bạn không mất nhiều thời gian và công sức , chỉ cần ngồi ở nhà và có 1 chiếc smarth_phone thông minh là các bạn đã
    có thể tìm ngay cho mình những cuốn sách hay và phù hợp nhất , trang web có thiết kế thân thiện với người dùng giúp các bạn dễ dàng tương tác và sử dụng
    Đối với việc công nghệ thông tin hay các thiết bị thông minh ngày càng phát triển mạnh mẽ , khiến 1 bộ phận đông đảo các bạn trẻ bị mai một thói quen
    đọc sách , các bạn có đọc cũng chỉ đọc thì cũng chỉ là những bài báo điện tử hay đọc sách online , vì đối với các bạn như vậy sẽ rất thuận tiện . Mình nghĩ
    đó cũng là 1 điều tốt nhưng các bạn cũng nên đọc sách nữa , vì sao ư ? mình sẽ cho các bạn xem lý do :
    <br />
    <div style="margin-left:400px">
        Đọc sách vẫn luôn là một thói quen bổ ích được nhiều người yêu thích nhưng bên cạnh việc cung cấp tri thức đọc sách còn mang lại nhiều lợi ích hơn thế.
        <br /><br />
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/1.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                1. Thúc đẩy trí não: Các nghiên cứu khoa học đã chỉ ra rằng việc đọc thường xuyên sẽ giúp làm chậm quá trình não lão hóa, hạ thấp khả năng mắc chứng Alzheimer.
                Giống như bất kì bộ phận nào, não cần được hoạt động để luôn khỏe mạnh.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/2jpg.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                2. Giảm stress: Dù đang đối mặt vấn đề lớn cỡ nào trong công việc, tình yêu hay gia đình, chỉ cần mở trang sách người đọc sẽ ngay lập tức bước vào một thế giới
                khác. Một cuốn sách hay sẽ giúp bạn thư giãn và quên đi mọi muộn phiền trong cuộc sống.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/3.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                3. Cung cấp kiến thức: Dù đọc chủ động hay bị động, những kiến thức đó chúng ta đều thu nạp ít hay nhiều. Sách cung cấp những tri thức có ích cho người đọc – một
                yếu tố góp phần hoàn thiện nhiều mặt trong cuộc sống như sự nghiệp, tài chính, sức khỏe…
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/4.png" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                4. Mở rộng vốn từ: Đọc càng nhiều bạn càng có vốn từ lớn. Lưu loát trong giao tiếp là một trong những yếu tố quyết định đến sự thành công trong cuộc sống. Càng
                ăn nói gãy gọn bạn càng tự tin. Nghiên cứu đã chỉ ra những người có vốn từ tốt được thăng tiến nhanh hơn hẳn những người giao tiếp kém.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/5.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                5. Củng cố trí nhớ: Khi đọc một cuốn sách, bạn sẽ phải nhớ nội dung, ý chính, nhân vật, các lớp nghĩa, bài học… để có thể hiểu những đoạn sau, hoặc khi bạn muốn
                chia sẻ với ai về nội dung sách. Mỗi lượng thông tin mới được não thu nhập, cơ quan chỉ huy sẽ tạo ra những tế bào não mới.<br />
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/6.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                6. Luyện kỹ năng phê phán: Nhất là với những tiểu thuyết trinh thám/tâm lý tội phạm, người đọc sẽ thỏa trí vận dụng hết kỹ năng suy luận, phân tích để khám phá
                ra bí ẩn, có khi trước cả khi đọc đến chương cuối. Kỹ năng phân tích phê phán rất cần thiết trong cuộc sống hàng ngày cũng như công việc.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/7.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                7. Tăng khả năng tập trung: Trong xã hội hiện đại, một người thường phải làm nhiều việc cùng lúc, kỹ năng multi-tasking đã trở thành một yếu tố quan trọng trong
                đời sống. Đọc sách giúp tăng khả năng tập trung, củng cố sự phối hợp giữa các giác quan và bộ phận cơ thể.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/8.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                8. Luyện kỹ năng viết: Cùng với việc vốn từ được mở rộng, kỹ năng viết của người đọc sách nhiều cũng được nâng lên thấy rõ. Bạn sẽ tiếp cận với nhiều văn phong,
                các phương pháp nghệ thuật văn học tác giả sử dụng và ít nhiều được chúng truyền cảm hứng.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/9.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                9. Đạt được sự tĩnh tâm: Không chỉ đơn giản là thư giãn, một cuốn sách hay còn có thể đưa độc giả vào trạng thái tĩnh tâm tuyệt đối. Đọc những câu chuyện với nội
                dung lạc quan, thúc đẩy tinh thần có thể hạ huyết áp, giúp tâm trívui vẻ và chữa những bệnh tâm thần nhẹ.
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left;margin-left:10px;">
                <img src="~/HinhAnh/10.jpg" width="400" height="400" />
            </div>
            <div style="float:left;margin-left:10px;word-wrap:break-word;width:800px;">
                10. Được giải trí miễn phí: Không cần phải bỏ tiền mua, bạn có thể đến thư viện địa phương hay ngồi nhà với sự giúp đỡ của mạng Internet
                và đọc miễn phí hàng nghìn cuốn sách dưới định dạng ebook hay audio book. Trong đời đại điện thoại thông minh, máy tính bảng như hiện tại,
                vấn đề tiếp xúc với tri thức đã không còn khó khăn.
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
