
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div style="margin-left:200px;width:1000px;word-wrap:break-word;">
    <h3 style="color:orangered">Chào mừng các quý khách hàng tìm hiểu về cách sử dụng trang web :</h3>
    - B1 : Đăng kí tài khoản khách hàng
    +) thông tin cá nhân : họ tên, ngày sinh , địc chỉ liên lạc , sđt,....
    +) Cần có các tài khoản ngân hàng để thanh toán vd :ATM vietcombank,viettinbank,....
    <br/>
    *.chú ý là các thông tin cần được đảm bảo chính xác để chánh bị lừa đảo cũng như gây thiệt hại cho khách hàng
    <br/>
    - B2 : Sau khi có tài khoản rồi , quý khách có thể tìm kiếm mua sách trên website bán hàng NVQ , quý khách có thể
    chọn cho mình những cuốn sách hay và thịnh hành với giá cả hợp lý =>thêm vào giỏ hàng
    - B3: sau khi chọn được các cuốn sách vào giỏ hàng , quý khách có thể kiểm tra và chỉnh sửa lại theo ý muốn .
    Rồi đặt hàng . Cửa hàng sẽ nhanh chóng phản hồi lại cho quý khách các thông tin đơn hàng và hóa đơn
    <br/><br />
    <h4>Xin chân thành cảm ơn quý khách đã sử dụng website của chúng tôi.....!</h4>
</div>

