
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div style="margin-left:200px;">
    <h2 style="color:orangered">Liên hệ</h2>
    <div style="text-decoration:underline;float:left">cơ sở 1 </div><div style="float:left;">: số nhà 134 , phường Trương Định , Quận Hai Bà Trưng , Hà Nội </div> <br />
    <div style="text-decoration:underline;float:left">cơ sở 2 </div><div style="float:left;">: số nhà 158 , Đường Láng , Tây Sơn , Hà Nội , Việt Nam </div> <br />
    Mọi thông tin thắc mắc xin được gửi vào hòm thư : <a style="color:blue;text-decoration:underline">E-Mail :Quan96kun@gmail.com</a><br />
    Hotline : (024)12345678).
</div>
